html
    head
        title=title
    body
        h1 Tournoi
        p Nom : #{nom} 
        p Lieu : #{lieu} 
        p Surface : #{surface} 
        p DateDebut : #{date_debut} 
        p DateFin : #{date_fin}